#article-description {
  > div {
    *[style*="background-color: #ffffff;"] {
      background-color: transparent !important;
    }

    *[style*="color: #000000;"],
    *[style*="color: #1f2328;"] {
      color: inherit !important;
    }
    // 제목
    h1 {
      font-size: 36px;
      margin-top: 16px;
      margin-bottom: 8px;
      // scroll-margin: 60px;
    }
    h2 {
      font-size: 30px;
      margin-top: 16px;
      margin-bottom: 8px;
      // scroll-margin: 60px;
    }
    h3 {
      font-size: 24px;
      margin-top: 16px;
      margin-bottom: 8px;
      // scroll-margin: 60px;
    }
    h4 {
      font-size: 20px;
      margin-top: 16px;
      margin-bottom: 8px;
      // scroll-margin: 60px;
    }
    h5 {
      font-size: 18px;
      margin-top: 16px;
      margin-bottom: 8px;
      // scroll-margin: 60px;
    }
    h6 {
      font-size: 16px;
      margin-top: 16px;
      margin-bottom: 8px;
      // scroll-margin: 60px;
    }

    // 코드블럭
    li code {
      padding: 4px;
      box-sizing: border-box;
      border-radius: 6px;
      position: relative;
      opacity: 1;
    }

    pre {
      code {
        padding: 20px;
        box-sizing: border-box;
        border-radius: 8px;
        margin-top: 4px;
        margin-bottom: 12px;
        position: relative;
        opacity: 1;
        display: block;
        // visibility: visible;
      }

      &:has(code) {
        display: block;
        position: relative;

        &::after {
          content: "";
          mask-image: url("./images/copy.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          mask-size: 24px 24px;
          width: 24px;
          height: 24px;
          display: inline-flex;
          cursor: pointer;
          position: absolute;
          top: 16px;
          right: 16px;
          background-color: color-mix(
            in hsl,
            var(--color-tcu-color-3) 50%,
            transparent
          );
        }
        &.my-active {
          &::after {
            background-color: color-mix(
              in hsl,
              var(--color-tcu-color-3) 80%,
              transparent
            );
          }
        }

        &.my-checked {
          &::after {
            mask-image: url("./images/copy-check.svg");
          }
        }
      }
    }

    // 테이블
    &:not(.another_category) table {
      width: 100%;
      border-color: color-mix(
        in hsl,
        var(--color-tcu-color-3) 50%,
        transparent
      );
      border-top: 1px solid;
      border-left: 1px solid;

      thead {
        tr {
          th {
            border-color: color-mix(
              in hsl,
              var(--color-tcu-color-3) 50%,
              transparent
            );
            border-right: 1px solid;
            border-bottom: 1px solid;
            padding: 4px 8px;
          }
        }
      }

      tbody {
        tr {
          td {
            border-color: color-mix(
              in hsl,
              var(--color-tcu-color-3) 50%,
              transparent
            );
            border-right: 1px solid;
            border-bottom: 1px solid;
            padding: 2px 8px;
          }
        }
      }

      &[data-ke-style="style1"],
      &[data-ke-style="style2"],
      &[data-ke-style="style3"] {
        thead {
          tr {
            th {
              border-bottom: 2px solid;
            }
          }
        }

        &:not(:has(thead)) {
          tbody {
            tr {
              &:first-child {
                td {
                  border-bottom: 2px solid;
                }
              }
            }
          }
        }
      }

      &[data-ke-style="style4"],
      &[data-ke-style="style5"],
      &[data-ke-style="style6"],
      &[data-ke-style="style7"] {
        tbody {
          tr {
            &:nth-child(2n) {
              td {
                background-color: color-mix(
                  in hsl,
                  var(--color-tcu-color-3) 50%,
                  transparent
                );
              }
            }
          }
        }
      }

      &[data-ke-style="style8"],
      &[data-ke-style="style9"],
      &[data-ke-style="style10"],
      &[data-ke-style="style11"] {
        border-left: 0;

        thead {
          tr {
            th {
              border-right: 0;
              border-bottom: 2px solid;
            }
          }
        }

        &:not(:has(thead)) {
          tbody {
            tr:first-child {
              td {
                border-right: 0;
                border-bottom: 2px solid;
              }
            }
          }
        }

        tbody {
          tr {
            td {
              border-right: 0;
            }
          }
        }
      }

      &[data-ke-style="style12"],
      &[data-ke-style="style13"],
      &[data-ke-style="style14"],
      &[data-ke-style="style15"] {
        thead {
          tr {
            th {
              background-color: color-mix(
                in hsl,
                var(--color-tcu-color-1) 20%,
                transparent
              );
            }
          }
        }

        &:not(:has(thead)) {
          tbody {
            tr:first-child {
              td {
                background-color: color-mix(
                  in hsl,
                  var(--color-tcu-color-1) 20%,
                  transparent
                );
              }
            }
          }
        }

        tbody {
          tr {
            &:first-child {
              td {
                color: inherit;
              }
            }

            td {
              background-color: transparent;

              &:first-child {
                background-color: color-mix(
                  in hsl,
                  var(--color-tcu-color-3) 50%,
                  transparent
                );
              }
            }
          }
        }
      }

      &[data-ke-style="style16"] {
        border-left: 0;
        border-top: 0;

        thead {
          tr {
            th {
              border-right: 0;
              border-bottom: 0;
            }
          }
        }

        &:not(:has(thead)) {
          tbody {
            tr:first-child {
              td {
                border-right: 0;
                border-bottom: 0;
              }
            }
          }
        }

        tbody {
          tr {
            td {
              border-right: 0;
              border-bottom: 0;
            }
          }
        }
      }
    }

    // 리스트
    ul,
    ol {
      padding-left: 20px;
      margin: 0 4px;

      li {
      }
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    // 인용
    blockquote {
      color: color-mix(in hsl, var(--color-tcu-color-3) 80%, transparent);

      &[data-ke-style="style2"] {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;

        &::before {
          content: "";
          display: inline-flex;
          width: 4px;
          height: 16px;
          background-color: var(--color-tcu-color-1);
        }
      }
    }

    // 링크
    a[href] {
      color: color-mix(in hsl, var(--color-tcu-color-1) 70%, transparent);

      &:hover {
        color: var(--color-tcu-color-1);
      }
    }

    figure {
      margin-top: 4px;
      margin-bottom: 16px;
    }
  }
}

[data-tistory-react-app="Namecard"] {
  display: none;

  & + div {
    width: 100%;
    position: relative;
  }
}

[data-title="comment-container"] {
  form {
    display: block;
    width: 100%;
  }
}
