[data-title="pagination-page-num-list"] {
  > a {
    font-size: 0;

    > span {
      font-size: 12px;
      color: color-mix(in hsl, var(--color-tcu-color-3) 70%, transparent);
      padding: 0 8px;

      &.selected {
        font-weight: bold;
        color: var(--color-tcu-color-3);
      }
    }
  }
}
