[data-title="sub-rp-list"] {
  > li {
    > div {
      &::before {
        content: "";
      }
    }
  }
}

#entry3Comment {
  width: 100%;
}

[data-title="rp-list"] {
  li.tt_more_preview_comments_wrap {
  }
}

[data-title="reply-rp-profile-name"] {
  > * {
    display: inline;
  }
}
