[data-title="category-list-area"] {
  ul.tt_category {
    width: 100%;
    position: relative;

    img[alt="N"] {
      margin-top: 2px;
    }

    > li {
      width: 100%;
      display: flex;
      flex-direction: column;

      a.link_tit {
        width: 100%;
        display: flex;
        align-items: start;
        align-content: start;
        gap: 4px;
        position: relative;

        &:hover {
          text-decoration-line: underline;
        }

        &::before {
          content: "";
          mask-image: url("./images/folder.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          mask-size: 16px 16px;
          display: inline-block;
          width: 16px;
          height: 16px;
          background-color: var(--color-tcu-color-9);
          flex-shrink: 0;
          flex-grow: 0;
        }

        .c_cnt {
          display: inline-flex;
          flex-shrink: 0;
          flex-grow: 0;
        }

        &.my-active {
          font-weight: bold;
        }
      }

      ul.category_list {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        > li {
          width: 100%;
          display: flex;
          flex-direction: column;
          position: relative;

          a.link_item {
            width: 100%;
            display: flex;
            align-items: start;
            align-content: start;
            gap: 4px;
            position: relative;

            &:hover {
              text-decoration-line: underline;
            }

            &::before {
              content: "";
              mask-image: url("./images/folder.svg");
              mask-repeat: no-repeat;
              mask-position: center center;
              mask-size: 16px 16px;
              display: inline-block;
              width: 16px;
              height: 16px;
              background-color: var(--color-tcu-color-9);
              flex-shrink: 0;
              flex-grow: 0;
            }

            .c_cnt {
              display: inline-flex;
              flex-shrink: 0;
              flex-grow: 0;
            }

            &.my-active {
              font-weight: bold;
            }
          }

          ul.sub_category_list {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;

            > li {
              width: 100%;
              display: flex;
              flex-direction: column;
              position: relative;

              a.link_sub_item {
                width: 100%;
                display: flex;
                align-items: start;
                align-content: start;
                gap: 4px;
                position: relative;
                box-sizing: border-box;
                padding-left: 16px;

                &:hover {
                  text-decoration-line: underline;
                }

                &::before {
                  content: "";
                  mask-image: url("./images/folder.svg");
                  mask-repeat: no-repeat;
                  mask-position: center center;
                  mask-size: 16px 16px;
                  display: inline-block;
                  width: 16px;
                  height: 16px;
                  background-color: var(--color-tcu-color-9);
                  flex-shrink: 0;
                  flex-grow: 0;
                }

                &::after {
                  content: "ㄴ";
                  font-size: 12px;
                  position: absolute;
                  top: 0;
                  left: 2px;
                  color: color-mix(
                    in hsl,
                    var(--color-tcu-color-3) 60%,
                    transparent
                  );
                }

                .c_cnt {
                  display: inline-flex;
                  flex-shrink: 0;
                  flex-grow: 0;
                }

                &.my-active {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}

#category-list-notice-menu {
  width: 100%;
  display: flex;
  align-items: start;
  align-content: start;
  gap: 4px;
  position: relative;

  &:hover {
    text-decoration-line: underline;
  }

  &::before {
    content: "";
    mask-image: url("./images/folder.svg");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--color-tcu-color-9);
    flex-shrink: 0;
    flex-grow: 0;
  }

  .c_cnt {
    display: inline-flex;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &.my-active {
    font-weight: bold;
  }
}
