[data-title="custom-title-bar-text-area"] {
  &::before {
    content: "";
    mask-image: url("./images/triangle-inverted.svg");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 8px 8px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: color-mix(
      in hsl,
      var(--color-tcu-color-1) 80%,
      transparent
    );
  }
}
