@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tcu-color-1: rgb(78, 179, 209);
    --tcu-color-2: rgb(255, 255, 255);
    --tcu-color-3: rgb(0, 0, 0);
    --tcu-color-4: rgb(236, 70, 8);
    --tcu-color-5: rgb(229, 229, 227);
    --tcu-color-6: rgb(245, 245, 245);
    --tcu-color-7: rgb(35, 145, 172);
    --tcu-color-8: rgb(200, 200, 200);
    --tcu-color-9: rgb(252, 215, 47);
  }

  html {
    background-image: url("./images/tile.jpg");
    background-repeat: repeat;
    background-size: 30px 30px;
  }
}

#tag-list {
  font-size: 0;
  @apply w-full flex flex-wrap gap-1 relative box-border;

  a {
    @apply inline-flex items-center relative px-2 py-1 text-xs rounded-md;

    &::before {
      content: "#";
      @apply inline-flex flex-shrink-0 flex-grow-0;
    }

    &.my-active {
      @apply font-extrabold;
    }
  }
}

#tt-body-page {
  #tag-list {
    a {
      @apply bg-color-3/10;
    }
  }
}
